@font-face {
    font-family: 'philosopherregular';
    src: url('../../polices/Philosopher-Regular-webfont.eot');
    src: url('../../polices/Philosopher-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../polices/Philosopher-Regular-webfont.woff2') format('woff2'),
         url('../../polices/Philosopher-Regular-webfont.woff') format('woff'),
         url('../../polices/Philosopher-Regular-webfont.ttf') format('truetype'),
         url('../../polices/Philosopher-Regular-webfont.svg#philosopherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
img
{
	width: 450px;
	height: 300px;
	padding: 15px;
	border: 2px solid black;
	background: rgba(255,00,00,0.4);
	border-radius: 15px;
}
figure
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
h1
{
	margin: auto;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	border: 4px solid black;
	border-radius: 20px;
	width: 40%;
	background: rgba(255,00,00,0.4);
	font-family: 'philosopherregular',sans-serif;
}
body
{
	background: url(backgroundcorée/coréedrapeau.jpg);
}